<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>F1 Pit Wall</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='assets/img/f1-icon-01.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.min.css') }}">
  </head>
  <body>
    <!-- ======= Start Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="{{ url_for('index') }}" class="logo d-flex align-items-center">
          <img src="{{ url_for('static', filename='assets/img/f1-logo-01.png') }}" alt="">
          <span class="d-none d-lg-block">Pit Wall</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
    </header>
    <!-- ======= End Header ======= -->
    <!-- ======= Start Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <!-- Start Home Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{url_for('index')}}">
            <i class="bi bi-house-door"></i>
            <span>Home</span>
          </a>
        </li>
        <!-- End Home Nav -->
        <!-- Start Races Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{url_for('races')}}">
            <i class="bi bi-flag"></i>
            <span>Races</span>
          </a>
        </li>
        <!-- End Races Nav -->
        <!-- Start Drivers Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{url_for('drivers')}}">
            <i class='bi bi-person'></i>
            <span>Drivers</span>
          </a>
        </li>
        <!-- End Drivers Nav -->
        <!-- Start Teams Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{url_for('teams')}}">
            <i class="bi bi-people"></i>
            <span>Teams</span>
          </a>
        </li>
        <!-- End Teams Nav -->
        <!-- Start Standings Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{url_for('standing')}}">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Standings</span>
          </a>
        </li>
        <!-- End Standings Nav -->
        <!-- Start Settings Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <i class='bi bi-gear'></i>
            </i>
            <span>Settings</span>
            <i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="" data-bs-toggle="modal" data-bs-target="#importhistorialdata">
                <i class="bi bi-circle"></i>
                <span>Import Static Data</span>
              </a>
            </li>
            <li>
              <a href="" data-bs-toggle="modal" data-bs-target="#importlaps">
                <i class="bi bi-circle"></i>
                <span>Import Race Data</span>
              </a>
            </li>
            <li>
              <a href="" data-bs-toggle="modal" data-bs-target="#preferences">
                <i class="bi bi-circle"></i>
                <span>Preferences</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Settings Nav -->
      </ul>
    </aside>
    <!-- ======= End Sidebar ======= -->
    <!-- ======= Start Main ======= -->
    <main id="main" class="main">
      <!-- Start Page Title -->
      <div class="pagetitle">
        <h1>Home</h1>
      </div>
      <!-- End Page Title -->
      <!-- Start Page Content -->
      <section class="section dashboard">
        <div class="row">
  
          <!-- Left side columns -->
          <div class="col-lg-8">
            <div class="row">
  
              <!-- Start Races Card -->
              <div class="col-xxl-6 col-xl-12">
                <div class="card info-card sales-card">  
                  <div class="card-body">
                    <a href="{{ url_for('races') }}"> 
                      <h5 class="card-title">Races <span>| Total</span></h5>  
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-flag"></i>
                        </div>
                        <div class="ps-3">
                          <h6>{{ races_count }}</h6>                        
                          <span class="text-muted small pt-2 ps-1">View & simulate races.</span>  
                        </div>
                      </div>
                    </a>
                  </div>  
                </div>
              </div>
              <!-- End Races Card -->           
  
              <!-- Start Drivers Card -->
              <div class="col-xxl-6 col-xl-12">
                <div class="card info-card sales-card">  
                  <div class="card-body">
                    <a href="{{ url_for('drivers') }}"> 
                      <h5 class="card-title">Drivers <span>| Total</span></h5>  
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-person"></i>
                        </div>
                        <div class="ps-3">
                          <h6>{{ driver_count }}</h6>                        
                          <span class="text-muted small pt-2 ps-1">View & select default driver.</span>  
                        </div>
                      </div>
                    </a>
                  </div>  
                </div>
              </div>
              <!-- End Drivers Card -->  
              
              <!-- Start Standings Card -->
              <div class="col-xxl-6 col-xl-12">
                <div class="card info-card sales-card">  
                  <div class="card-body">
                    <a href="{{ url_for('standing') }}"> 
                      <h5 class="card-title">Standings <span>| Total</span></h5>  
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-layout-text-window-reverse"></i>
                        </div>
                        <div class="ps-3">
                          <h6>2</h6>                        
                          <span class="text-muted small pt-2 ps-1">View drivers and constructors tables.</span>  
                        </div>
                      </div>
                    </a>
                  </div>  
                </div>
              </div>
              <!-- End Standings Card -->  

              <!-- Start Teams Card -->
              <div class="col-xxl-6 col-xl-12">
                <div class="card info-card sales-card">  
                  <div class="card-body">
                    <a href="{{ url_for('teams') }}"> 
                      <h5 class="card-title">Teams <span>| Total</span></h5>  
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                          <h6>{{ team_count }}</h6>                        
                          <span class="text-muted small pt-2 ps-1">View Formula 1 Teams.</span>  
                        </div>
                      </div>
                    </a>
                  </div>  
                </div>
              </div>
              <!-- End Teams Card -->  
            </div>
          </div>
          <!-- End Left side columns -->
  
          <!-- Start Right Side Columns -->
          <div class="col-lg-4">
            <!-- Recent Activity -->
            <div class="card">  
              <div class="card-body">
                <!-- Start Recently Added Card -->  
                <h5 class="card-title">Recently Added <span>| Last 8</span></h5>  
                <div class="activity">
                  {% if recent_races %}  
                    {% for race in recent_races %}
                      <div class="activity-item d-flex">
                        <div class="activite-label">{{ race.date.strftime('%d/%m/%y') }}</div>
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        <div class="activity-content">
                          <a href="{{ url_for('simulate',  race_id=race.raceid) }}" class="text-dark">{{ race.name }}</a>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}                
                    <p>No recent races found!</p>
                  {% endif %}   
                </div>
              </div>
            </div>
            <!-- End Recently Added Card --> 
          </div>
          <!-- End Right Side Columns -->
        </div>

        <!-- Start Import Laps Modal -->  
        <form method="POST" action="{{ url_for('import_laps') }}">           
          <div class="modal fade" id="importlaps" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Import Race Data</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to import more race data? - this process uses the Ergast Developer API & FastF1, and may take some time to complete. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Yes</button>
                </div>
              </div>
            </div>
          </div>
        </form>   
        <!-- End Import Laps Modal -->

        <!-- Start Import Historial Data Modal -->  
        <form method="POST" action="{{ url_for('import_data') }}">           
          <div class="modal fade" id="importhistorialdata" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Import Static Data</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want tom import static race data (races, drivers, constructors etc.)?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Yes</button>
                </div>
              </div>
            </div>
          </div>
        </form>   
        <!-- End Import Historial Data Modal -->

        <!-- Start Preferences Modal --> 
        <div class="modal fade" id="preferences" tabindex="-1">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Preferences</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row mb-3">
                  <label class="col-sm-5 col-form-label">Driver</label>
                  <div class="col-sm-7">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Please select a driver</option>
                      <option value="1">HAM</option>
                      <option value="2">VER</option>
                      <option value="3">PER</option>
                      <option value="4">LEC</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-5 col-form-label">Lap Refresh (seconds)</label>
                  <div class="col-sm-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Preferences Modal --> 

      </section>
    </main>
    <!-- ======= End Main ======= -->
    <!-- ======= Start Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright"> &copy; Copyright <strong>
          <span>F1 Pit Wall</span>
        </strong>. All Rights Reserved </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ --> Designed by <a href="https://www.linkedin.com/in/robert-tracey-38725410b/" target="_blank">Robert Tracey</a>
      </div>
    </footer>
    <!-- ======= End Footer ======= -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>
    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/chart.js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/echarts/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/quill/quill.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  </body>
</html>