<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>F1 Pit Wall</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='assets/img/f1-icon-01.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
    
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.min.css') }}">

  </head>
  <body>
    <!-- ======= Start Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="{{ url_for('index') }}" class="logo d-flex align-items-center">
          <img src="{{ url_for('static', filename='assets/img/f1-logo-01.png') }}" alt="">
          <span class="d-none d-lg-block">Pit Wall</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
    </header>
    <!-- ======= End Header ======= -->

    <!-- ======= Start Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">

        <!-- Start Home Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{url_for('index')}}">
            <i class="bi bi-house-door"></i>
            <span>Home</span>
          </a>
        </li>
        <!-- End Home Nav -->

        <!-- Start Races Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{url_for('races')}}">
            <i class="bi bi-flag"></i>
            <span>Races</span>
          </a>
        </li>
        <!-- End Races Nav -->

        <!-- Start Drivers Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{url_for('drivers')}}">
            <i class='bi bi-person'></i>
            <span>Drivers</span>
          </a>
        </li>
        <!-- End Drivers Nav -->

        <!-- Start Teams Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{url_for('teams')}}">
            <i class="bi bi-people"></i>
            <span>Teams</span>
          </a>
        </li>
        <!-- End Teams Nav -->

        <!-- Start Standings Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{url_for('standing')}}">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Standings</span>
          </a>
        </li>
        <!-- End Standings Nav -->

        <!-- Start Settings Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <i class='bi bi-gear'></i>
            </i>
            <span>Settings</span>
            <i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="" data-bs-toggle="modal" data-bs-target="#importhistorialdata">
                <i class="bi bi-circle"></i>
                <span>Import Static Data</span>
              </a>
            </li>
            <li>
              <a href="" data-bs-toggle="modal" data-bs-target="#importlaps">
                <i class="bi bi-circle"></i>
                <span>Import Race Data</span>
              </a>
          </ul>
        </li>
        <!-- End Settings Nav -->

      </ul>
    </aside>
    <!-- ======= End Sidebar ======= -->

    <!-- ======= Start Main ======= -->
    <main id="main" class="main">
      <!-- Start Page Title -->
      <div class="pagetitle">
        <h1>{{ race.name }} ({{ race.year }})</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item active">Simulate</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section dashboard">
        <div class="row">
  
          <!-- Left side columns -->
          <div class="col-lg-8">
            <div class="row">
  
              <!-- Start Driver Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">                     
                  <div class="card-body">
                    <h5 class="card-title">Driver <span>| {{ driver.forename }} {{ driver.surname }}</span></h5>  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-person"></i>
                      </div>
                      <div class="ps-3">
                        <h6 id="driver-position">{{ qual_position|ordinal }}</h6>
                        <span class="text-muted small pt-2 ps-1">position</span>  
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
              <!-- End Driver Card -->

              <!-- Start Venue Card -->
              <div class="col-xxl-4 col-xl-12">  
                <div class="card info-card customers-card">  
                  <div class="card-body">
                    <h5 class="card-title">Venue <span>| {{ circuit.location }}</span></h5>  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-geo-alt"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{ race.round }}</h6>
                        <span class="text-muted small pt-2 ps-1">round</span>  
                      </div>
                    </div>  
                  </div>
                </div>  
              </div>
              <!-- Start Venue Card -->
  
              <!-- Start Status Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">  
                  <div class="card-body">
                    <h5 class="card-title">Track Status <span>| Status</span></h5>  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-flag"></i>
                      </div>
                      <div class="ps-3">
                        <h6>2</h6>
                        <span class="text-muted small pt-2 ps-1">drivers</span>  
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
              <!-- End Status Card -->

              <!-- Start Attack Card -->
              <div class="col-xxl-6 col-md-6">
                <div class="card info-card attack-card">                     
                  <div class="card-body">
                    <h5 class="card-title">Attack</h5>  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-graph-up-arrow"></i>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
              <!-- End Attack Card -->
  
              <!-- Start Defend Card -->
              <div class="col-xxl-6 col-md-6">
                <div class="card info-card customers-card">  
                  <div class="card-body">
                    <h5 class="card-title">Defend </h5>  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-graph-down-arrow"></i>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
              <!-- End Defend Card -->

              <!-- Start Laps Graph -->
              <div class="col-12">
                <div class="card">  
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>  
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>  
                  <div class="card-body">
                    <h5 class="card-title">Laps <span>/Lap No</span></h5>  
                    <!-- Line Chart -->
                    <div id="reportsChart"></div>  
                    <script>
                      document.addEventListener("DOMContentLoaded", () => {
                        new ApexCharts(document.querySelector("#reportsChart"), {
                          series: [{
                            name: 'Sales',
                            data: [31, 40, 28, 51, 42, 82, 56],
                          }, {
                            name: 'Revenue',
                            data: [11, 32, 45, 32, 34, 52, 41]
                          }, {
                            name: 'Customers',
                            data: [15, 11, 32, 18, 9, 24, 11]
                          }],
                          chart: {
                            height: 350,
                            type: 'area',
                            toolbar: {
                              show: false
                            },
                          },
                          markers: {
                            size: 4
                          },
                          colors: ['#4154f1', '#2eca6a', '#ff771d'],
                          fill: {
                            type: "gradient",
                            gradient: {
                              shadeIntensity: 1,
                              opacityFrom: 0.3,
                              opacityTo: 0.4,
                              stops: [0, 90, 100]
                            }
                          },
                          dataLabels: {
                            enabled: false
                          },
                          stroke: {
                            curve: 'smooth',
                            width: 2
                          },
                          xaxis: {
                            type: 'datetime',
                            categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                          },
                          tooltip: {
                            x: {
                              format: 'dd/MM/yy HH:mm'
                            },
                          }
                        }).render();
                      });
                    </script>
                    <!-- End Line Chart -->  
                  </div>  
                </div>
              </div>    
              <!-- End Laps Graph -->          
            </div>
          </div>
          <!-- End Left side columns -->
  
          <!-- Right side columns -->
          <div class="col-lg-4">
            <div class="card">                
              <div class="card-body">
                <h5 id="race-order-title" class="card-title">Race Order <span>| Lap</span></h5>  
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script>
                  $(document).ready(function() {
                    setInterval(function() {
                      $.ajax({
                        url: "{{ url_for('update_race_order') }}",
                        success: function(data) {
                          var html = "";
                          var pos = 1;
                          var driverId = '{{ driver.code }}';
                          var title = "Race Order <span> | Lap: " + data[0].lapnumber + "</span>"
                          $.each(data, function(key, value) {
                            if (value.lapnumber % 4 === 0) {
                              html += "<tr><td>" + pos + "</td><td>" + value.driver + "</td><td>" + value.compound + " (" + value.tyrelife + ")</td><td>" + value.behind + "</td></tr>";
                              } else {
                                html += "<tr><td>" + pos + "</td><td>" + value.driver + "</td><td>" + value.compound + " (" + value.tyrelife + ")</td><td>" + value.gap + "</td></tr>";
                              }    
                              if (value.driver === driverId) {
                                $("h6#driver-position").html(getOrdinalNum(pos));
                              }
                            pos++;
                          });
                          $("tbody#race-order-table").html(html);
                          $("h5#race-order-title").html(title);
                          removeElement("race-order-loading");
                        }
                      });
                    }, 5000);
                  });
                </script>

                <!-- Start Race Order Table -->
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Driver</th>
                      <th scope="col">Tyre</th>
                      <th scope="col">Timing</th>
                    </tr>
                  </thead>
                  <tbody id="race-order-table">                    
                    <!-- Rows Automaticcaly Updated Using AJAX -->
                  </tbody>
                </table>
                <div id="race-order-loading" class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
                <!-- End Race Order Table -->
                </div>
              </div>  
              <!-- End Race Order -->
        
            <!-- Start Fastest Laps -->
            <div class="card">                
              <div class="card-body">
                <h5 id="fastest-laps-title" class="card-title">Fastest Laps <span>| Fastest</span></h5>  

                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                  <script>
                    $(document).ready(function() {
                      setInterval(function() {
                        $.ajax({
                          url: "{{ url_for('update_fastest_laps') }}",
                          success: function(data) {
                            var html = "";
                            var pos = 1;
                            var title = "Fastest Laps <span> | Fastest: " + data[0].driver + "</span>"
                            $.each(data, function(key, value) {
                              html += "<tr><td>" + pos + "</td><td>" + value.driver + "</td><td>" + formatTimeDelta(value.laptime) + "</td></tr>";
                              pos++;
                            });
                            $("tbody#fastest-laps-table").html(html);
                            $("h5#fastest-laps-title").html(title);
                            removeElement("fastest-lap-loading");
                          }
                        });
                      }, 5000);
                    });
                  </script> 
                    <!-- Start Race Order Table -->
                    <table class="table table-sm table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Driver</th>
                          <th scope="col">Time</th>
                        </tr>
                      </thead>
                      <tbody id="fastest-laps-table"> 
                        <!-- Rows Automaticcaly Updated Using AJAX -->              
                      </tbody>
                    </table>
                    <div id="fastest-lap-loading" class="d-flex justify-content-center">
                      <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                    <!-- End Race Order Table --> 
              </div>              
            </div>
            <!-- End Fastest Laps --> 
          </div>
          <!-- End Right side columns -->  
        </div>

        <!-- Start Import Laps Modal -->  
        <form method="POST" action="{{ url_for('import_laps') }}">           
          <div class="modal fade" id="importlaps" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Import Race Data</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to import more race data? - this process uses the Ergast Developer API & FastF1,and may take some time to complete. 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Yes</button>
                </div>
              </div>
            </div>
          </div>
        </form>   
        <!-- End Import Laps Modal -->

        <!-- Start Import Historial Data Modal -->  
        <form method="POST" action="{{ url_for('import_data') }}">           
          <div class="modal fade" id="importhistorialdata" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Import Static Data</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want tom import static race data (races, drivers, constructors etc.)?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Yes</button>
                </div>
              </div>
            </div>
          </div>
        </form>   
        <!-- End Import Historial Data Modal -->
        
      </section>

      <script>
        function formatTimeDelta(delta) {
          var td = parseTimeDelta(delta);
          var totalSeconds = Math.abs(td / 1000);
          var hours = Math.floor(totalSeconds / 3600);
          var minutes = Math.floor((totalSeconds - (hours * 3600)) / 60);
          var seconds = Math.floor(totalSeconds - (hours * 3600) - (minutes * 60));
          var milliseconds = Math.floor(td % 1000);

          return (td < 0 ? '-' : '') + minutes + ':' + seconds + '.' + padZeroes(milliseconds, 3);
        }

        function padZeroes(number, length) {
          length = length || 2;
          number = number.toString();
          while (number.length < length) {
            number = '0' + number;
          }
          return number;
        }

        function parseTimeDelta(timeString) {
          const parts = timeString.split(":");
          const hours = parseInt(parts[0], 10);
          const minutes = parseInt(parts[1], 10);
          const seconds = parseFloat(parts[2]);
          return ((hours * 60 + minutes) * 60 + seconds) * 1000;
        }

        function removeElement(id) {
        const element = document.getElementById(id);
        if (element) {
          element.remove();
        }
      }

      function getOrdinalNum(n) {
        if (isNaN(n) || !isFinite(n)) {
          return n;
        }
        var s=["th","st","nd","rd"],
            v=n%100;
        return n+(s[(v-20)%10]||s[v]||s[0]);
      }

      </script>

    </main>
    <!-- ======= End Main ======= -->

    <!-- ======= Start Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>F1 Pit Wall</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://www.linkedin.com/in/robert-tracey-38725410b/" target="_blank">Robert Tracey</a>
      </div>
    </footer>
    <!-- ======= End Footer ======= -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>
    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/chart.js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/echarts/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/quill/quill.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

  </body>
</html>